<div class="posts">    
<%= content_tag(:article, class: "post-box") do %>

  <%# Render the header for this blog post %>
  <%= render "blogit/posts/post_head", post: post %>
  <div class="meta">
  <%# Render info about the person who wrote this post %>
  <%= render "blogit/posts/blogger_information", post: post %>
  </div>
<div class="text-box">
  <%# Render the body of this blog post (as Markdown) %>
  <%= render "blogit/posts/post_body", post: post %>
</div>
  <%# Render admin links to edit/delete this post %>
  <%= render "blogit/posts/post_links", post: post %>
  

  <%# Render the no. of comments %>
  <%= render "blogit/posts/comments_count",
    post: post if defined?(show_comments_count) and show_comments_count %>

<% end %>
</div>