			
				<ul id="nav">
							<%= nav_link('Home', root_path) %>						
							<%= nav_link('About Us', about_us_path) %>
							<%= nav_link('Areas of Practice', areas_of_practice_path)%>
							<%= nav_link('Attorneys', attorneys_path) %>
							<%= nav_link('Contact Us', contact_path) %>						
							<%= nav_link('Blog', "#{news_blog.posts_path}")%>
							<% if current_admin_user %>
								<%= nav_link('Sign out', "/admin/logout") %>
								<%= nav_link('Admin', "/admin") %>
								<% end %>
									
						</ul>
						<select class="mobile-menu">
						<option value="" selected="selected">Select</option>
							<option value= "/" >Home</option>													
							<option value= "/about_us"> About Us</option>
							<option value= "/areas_of_practice"> Areas of Practice</option>
							<option value= "/attorneys"> Attorneys</option>
							<option value="/contact" > Contact Us</option>
							<option value= "/blog" > Blog		</option>
						</select>